/* cabeçalho */
.header {
  background-color: #f2f2f2;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}
.div-header {
}
.titulo {
  text-align: center;
}
/* Conteudo Principal */
.texto-principal {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  line-height: 1.6;
}
